
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Calendar
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
 
  <calendar 
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" 
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1">
  </calendar>

  <div>
    <img *ngIf="capturedPhoto" [src]="capturedPhoto" alt="" style="width: 200px; ">
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="capturePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>